.screen {
  flex: 1;

  display: flex;
  flex-direction: row;

  font-size: large;
  border: 1px solid green;
}

.screen-left {
  flex-basis: 50%;
  border: 1px solid #222;
}

.screen-right {
  flex-basis: 50%;
  border: 1px solid #222;
}