.screen {
  flex: 1;

  display: flex;
  flex-direction: row;

  font-size: large;
}

.screen-left {
  width: 480px;
  padding: 16px;

  border: 1px solid #222;
}

.screen-right {
  flex: 1;
  padding: 16px;

  border: 1px solid #222;
}

.paragraph {
  margin-top: 8px;
}