.screen {
  flex: 1;

  display: flex;
  flex-direction: row;

  font-size: large;
}

.screen-left {
  width: 480px;
  border: 1px solid #222;
}

.screen-right {
  flex: 1;
  border: 1px solid #222;
}