.vessel {
  min-height: 300px;
  padding: 16px;

  display: flex;
  flex-direction: column;

  border: 1px solid #222;
  border-radius: 8px;
  background-color: #FFF4EA;
}

.vessel-title {
  margin-bottom: 8px;

  font-size: 24px;
  color: #222;
}

.vessel-properties {
  margin-bottom: 8px;
}

.vessel-children {
  flex: 1;
  display: flex;
}
