.vessel {
  min-height: 300px;
  padding: 16px;

  display: flex;
  flex-direction: column;

  border: 1px solid red;
}

.vessel-title {
  color: #222;
}

.vessel-children {
  flex: 1;
  display: flex;
}